@model List<Students_List.Models.Student>

@{
    ViewData["Title"] = "Home Page";
}


<form method="post" asp-controller="Home" asp-action="Search">
    <div class="form-group">
        <input class="form-control" type="text" placeholder="Name..." name="str" >
        <input class="btn btn-outline-secondary" type="submit" value="Search" />
    </div>
</form>


<table class="table">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.id</td>
            <td>@item.name</td>
            <td>
                <form method="get" asp-controller="Home" asp-action="Update">
                    <input hidden value="@item.id" type="text" name="id" />
                    <input hidden value="@item.name" type="text" name="name" /><input type="submit" value="Edit" />
                </form>
            </td>
            <td>
                <form method="get" asp-controller="Home" asp-action="Delete">
                    <input hidden value="@item.id" type="text" name="id" />
                    <input hidden value="@item.name" type="text" name="name" /><input type="submit" value="Delete" />
                </form>
            </td>
        </tr>
    }

</table>